spring:
  profiles:
    #设置配置文件
    active: @profileActive@
  application:
    name: api-youzan
  #设置jackson格式
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  #设置数据库连接池
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    filters: stat
    maxActive: 20
    initialSize: 1
    maxWait: 60000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
  #设置redis
  redis:
    jedis:
      pool:
        max-active: -1
        min-idle: 0
        max-idle: 100
        max-wait: 6ms

environment: @profileActive@

mybatis:
  type-aliases-package: com.saopay.apiyouzan.data.pojo.po
  #使用xml添加以下配置
  config-location: classpath:mybatis/mybatis-config.xml
  mapper-locations: classpath:mybatis/mapper/*.xml

youzan:
  client_id: 295a6fd1a3703a5b4c
  client_secret: f8fa71f18cfe3e90baeca7c389c26d98
  kdt_id: 41922421
baidu:
  access_key: fziCh041T9ClpP5RrV3XGVo0
  secret_key: NojzXyELY4OBNv4yrQqM2z0cNPjIyfu9


wechat:
  #公众号
  public:
    app_id: wx39b6997519883c8f
    app_secret: 500e64a06fb40b7669d525487bd1fb3c
    token_url: https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential&appid=${wechat.public.app_id}&secret=${wechat.public.app_secret}
    user_token_url: https://api.weixin.qq.com/sns/oauth2/access_token?appid=${wechat.public.app_id}&secret=${wechat.public.app_secret}&code=$CODE&grant_type=authorization_code
    jsapi_ticket_url: https://api.weixin.qq.com/cgi-bin/ticket/getticket?access_token=$ACCESS_TOKEN&type=jsapi

